/*#region--COMMON--*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
        text-decoration: none;
        color: black;
        display: inline-block;
        padding: 8px 12px;

    }

hr{
    margin: 5rem 0;
    border: none;
    height: 1px;
    background-color: whitesmoke;
}

.d-flex{
    display: flex;
}
/*#endregion*/
/*#region--UTILITY--*/
.blu_btn{
    color: white;
    display: inline-block;
    background-color: #0061fe;

}
/*#endregion*/
/*#region--LIST--*/
.unstyled_list{
    list-style: none;
}

.unstyled_list.d-flex {
    flex-wrap: nowrap;
}

.unstyled_list li a {
    white-space: nowrap;
}
/*#endregion*/
/*#region--HEADER--*/
header{
    font-size: 0.8rem;
}

header img{
    padding-right: 1rem;
    height: 1.3rem;
    margin: auto 0;

}

.h_banner{
    width: 90%;
    margin: auto;
    justify-content: space-between;
    padding: 1rem;
}
/*#endregion*/
/*#region--JUMBOTRON--*/

.jumbotron{
    background-color: #b4d0e7;
}

#jumbo_body{
    position: relative;
}

.jumbo_col{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 40%;

        i{
            font-size: 2.5rem;
            padding-bottom: 1rem;
        }
}

.d-flex.jumbo_col{
    padding-top: 2rem;
}

.jumbo_img{
    top: 9%;
    width: 55%;
    position: absolute;
    left: 40%;
}

.jumbo_img img{
    width: 100%;
    height: auto;
    display: block;
}

.container_large{
    width: 70%;
    margin: auto;

    h1{
        font-size: 3.5rem;
    }
}
/*#endregion*/
/*#region--MAIN--*/

.container{
    width: 60%;
    margin: auto;
    max-width: 1200px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 3);
    padding: 1rem;
}

.mb-4{
    margin-bottom: 4rem;
}
/*#endregion*/
/*#region--FOOTER*/
.col-5{
    width: calc(100% / 5);
}
/*#endregion*/
/*--debug--*/
.debug *{
    border: dashed;
}

.debug .col{
    height: 40rem;
}

.debug .blocco_orizzontale{
    height: 5rem;
}

footer.debug{
    background-color: aqua;
    height: 150px;

    .container_large{
        height: 100%;
    } 

    .col-5{
        height: 100%;
    }

    .row{
        height: 100%;
    }
}