/*#region--COMMON--*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
        text-decoration: none;
        color: black;
        display: inline-block;
        padding: 8px 12px;

    }

hr{
    margin: 5rem 0;
    border: none;
    height: 1px;
    background-color: #ededee;
}

.d-flex{
    display: flex;
}
/*#endregion*/
/*#region--UTILITY--*/
.blu_btn{
    color: white;
    display: inline-block;
    background-color: #0061fe;

}

.fatturazione {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fatturazione input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.fatturazione:hover input ~ .checkmark {
  background-color: #ccc;
}

.fatturazione input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.fatturazione input:checked ~ .checkmark:after {
  display: block;
}

.fatturazione .checkmark:after {
    top: 20%;
    left: 20%;
    width: 12px;
    height: 12px;
	border-radius: 50%;
	background: white;
}


/*#endregion*/
/*#region--LIST--*/
.unstyled_list{
    list-style: none;
}

.unstyled_list.d-flex {
    flex-wrap: nowrap;
}

.unstyled_list li a {
    white-space: nowrap;
}
/*#endregion*/
/*#region--HEADER--*/
header{
    font-size: 0.8rem;
}

header img{
    padding-right: 1rem;
    height: 1.3rem;
    margin: auto 0;

}

.h_banner{
    width: 90%;
    margin: auto;
    justify-content: space-between;
    padding: 1rem;
}
/*#endregion*/
/*#region--JUMBOTRON--*/

.jumbotron{
    background-color: #b4d0e7;
}

#jumbo_body{
    position: relative;
}

.jumbo_col{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 40%;

        i{
            font-size: 2.5rem;
            padding-bottom: 1rem;
        }
}

.d-flex.jumbo_col{
    padding-top: 2rem;
}

.jumbo_img{
    top: 9%;
    width: 55%;
    position: absolute;
    left: 40%;
}

.jumbo_img img{
    width: 100%;
    height: auto;
    display: block;
}

.container_large{
    width: 70%;
    margin: auto;

    h1{
        font-size: 3.5rem;
    }
}
/*#endregion*/
/*#region--MAIN--*/

.container{
    width: 60%;
    margin: auto;
    max-width: 1200px;
}

.fatturazione{
    margin-right: 2rem;
}

.tariffa ul{
    list-style: none;
    li{
        padding: 1rem 0;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.col{
    width: calc(90% / 3);
    border: 1px solid #ccc;
    flex-direction: column;
}

.col_head{
    height: 3rem;
    width: 100%;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.col_container_small{
    width: 80%;
    margin: 1rem auto;
}

.col_container{
    width: 85%;
    margin: 0.5rem auto;
}

.col_container .period{
    color: #ccc;
}

.col_checklist{
    list-style: none;
    i{
        color: #2196F3;
    }
    li{
        gap: 0.5rem;
        padding: 1rem 0;
    }
}

.buynow{
    a{
        color: #2196F3;
        text-decoration: underline;
    }
}

.margin_small{
    padding: 8px 0 40px;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc;
}

.mb-4{
    margin-bottom: 4rem;
}

.blocco_orizzontale{
    border: 1px solid #ccc;
    width: 100%;

    .team_title{
        justify-content: space-between;
        padding: 1rem;
    }

    strong{
        padding: 0 1rem;
    }

    #team_p{
        padding: 3rem 1rem 1rem 1rem;
    }
}
/*#endregion*/
/*#region--PARTNER--*/
.partner{

    #partner_left{
        width: 60%;
        margin: 0 auto;

        img{
            max-width: 100%;
            height: auto;
            display: block;
        }
    }
    #partner_right{
        width: 40%;
        margin: 0 auto;
        padding: 3rem 2rem;

        *{
            margin-bottom: 1rem;
        }

        a{
            margin-top: 0.5rem;
            border: 1px solid;
        }
    }
}
/*#endregion*/
/*OPERAZIONI*/
.op_col{
    width: calc(90% / 3);
    flex-direction: column;
   
    img{
        max-width: 100%;
        height: auto;
    }
}
/*#region--FOOTER*/
.col-5{
    width: calc(100% / 5);
}
/*#endregion*/